<a class="links float-right" routerLink="../add">Add Employee</a>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Expereience</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employees">
      <td>{{emp.employeeId}}</td>
      <td>{{emp.fullName}}</td>
      <td>{{emp.email}}</td>
      <td>{{emp.doj | age}}</td>
      <td class="action-cell">
        <list-action [paramId]="emp.employeeId" (onDelete)="deleteEmployee(emp.employeeId)"></list-action>
      </td>
    </tr>
  </tbody>
</table>